.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

h1 {
  text-align: center;
}

.brewery {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.micro {
  background-color: red;
  color: white;
  border-radius: 10px;
  font-size: 12px;
}

.brewpub {
  background-color: green;
  color: white;
  border-radius: 10px;
  font-size: 12px;
}

.generic {
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 12px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
